
<div class="page-header">
  <% if logged_in? %>
    <%= link_to new_home_path, class: 'new-home-button btn btn-primary' do %>
      <span class="glyphicon glyphicon-home"></span>
      New Home
    <% end %>
  <% end%>
  <h1 Listing>Homes for Sale</h1>
</div>

<div class="row">
  <% if @homes.empty? %>
    <%= render 'empty_homes'%>
  <% else %>
    <%= render @homes %>
  <% end %>
  <span class="btn btn-span"><%= paginate @homes %></span>
</div>
