.controller-homes{
  background-image: image-url('city-home.jpg');
  background-size: cover;
  color: white;

  .new-home-button{
    margin: 0;
  }

  .colum-index{
    margin-bottom: 5px;
  }
}

.search-form {
  margin: 15px 0;
  padding: 15px 15px;
}

.favorite-home.favorited {
  color: red;
}

.modal-body-images{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
