.landing-jumbotron {
  background-color: #a7cfd7;
}

.sign-jumbotron{
  background: rgba(0, 0, 0, 0);
}

.controller-pages{
  background-image: image-url('home.jpg');
  background-size: cover;
}

.footer{
  text-color: white;
  
}
