.landing-jumbotron {
  background-color: #DEA5A4;
  color: white;

}


.sign-jumbotron{
  background: rgba(0, 0, 0, 0);
}

.controller-pages{
  background-image: image-url('home.jpg');
  background-size: cover;
}

.search-jumbotron{
  background: rgba(0, 0, 0, 0);
}
