.landing-jumbotron {
  background-color: #CB99C9;
  color: white;
}

.sign-jumbotron{
  background: rgba(0, 0, 0, 0);
}

.controller-pages{
  background-image: image-url('vita.jpg');
  background-size: cover;
}

.search-jumbotron{
  background: rgba(0, 0, 0, 0);
}
